CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_DEVICE_redmi_ax6=y

# CONFIG_PACKAGE_luci-app-accesscontrol is not set

CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-acme=y
CONFIG_PACKAGE_acme-dnsapi=y

CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y

CONFIG_PACKAGE_luci-theme-argon-mod=y
CONFIG_PACKAGE_luci-app-argon-config=y

CONFIG_PACKAGE_luci-app-pushbot=y

CONFIG_PACKAGE_luci-app-sqm=y

CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-ssr-plus=y

CONFIG_PACKAGE_luci-app-v2ray-server=y

# CONFIG_PACKAGE_luci-app-vsftpd is not set

# CONFIG_PACKAGE_luci-app-ipsec-vpnd is not set

